@import url('https://fonts.googleapis.com/css2?family=Sora');


* {
  font-family: 'Sora', sans-serif;
}

.navbar-brand img {
  width: 70px;
}

.intensidade {
  right: 0%;
  position: relative;
  margin-left: 64%;


}

.intensidade p {
  right: 0%;
  font-size: 0.8em;
  position: relative;
  margin-bottom: -2%;
}